<div class="container">
  <h1>Add a new restaurant</h1>
  <%= simple_form_for [@restaurant] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: Restaurant::CATEGORY %>
  <%= f.submit "Add new restaurant", class: "btn btn-primary" %>
  <% end %>
</div>

<%#
t.string "name"
t.string "address"
t.string "phone_number"
t.string "category"
t.datetime "created_at", null: false
t.datetime "updated_at", null: false %>
